*
  margin 0px
  padding 0px

html, body
  background-color #888888
  color #222222
  height 100%
  overflow hidden
  text-align center
  width 100%

h1
  color #434343
  margin 0.48rem auto 0.24rem auto


canvas
  border 2px solid #777777
  border-radius 0.28rem
  margin 0.24rem auto


input[type="checkbox"]
  bottom 1px
  margin 0
  padding 0
  position relative
  vertical-align middle


.controls label
  display inline-block
  font-family mono
  padding -3px 0 0 0
  margin 0


div#stats
  background-color #222222
  color #f0f0f0
  font-family mono
  margin 0
  padding 0.183em 0


div#stats label
  color #f0f0f0
